# Private key
DEPLOYER_PRIVATE_KEY=

# Uniswap V3
UNIV3_FACTORY=

# Uniswap V4
POOL_MANAGER_V4=

# Deployed protocol addresses (V3)
SFPM=
RISK_ENGINE=
PANOPTIC_FACTORY=
PANOPTIC_POOL_REFERENCE=
COLLATERAL_TRACKER_REFERENCE=

# Deployed protocol addresses (V4)
SFPM_V4=
PANOPTIC_FACTORY_V4=

# CreatePool (V3)
UNIV3_POOL=

# CreatePoolV4 / SellOptionsV4
CURRENCY0=
CURRENCY1=
FEE=
TICK_SPACING=

# SellOptions
PANOPTIC_POOL=
