node_modules
mythx.json
.env
coverage
coverage.json
typechain

metadata/out/*
# Yarn files
yarn-error.log

#Hardhat files
cache
artifacts

contract/fuzz/echidna/corpus


.idea
tenderly.yaml
.vs/*
.DS_Store

.vscode

deployments
broadcast
out
docs

crytic-export
contracts/fuzz/echidna/corpus